.canvas {
    display:grid;
    column-gap:0px;
    grid-column-start:1;
    grid-column-end:16;
}

.color-div {
    margin:0px;
    height:15px;
    width:15px;
    border: 2px;
    border-color:white;
    background-color: black;
}