.canvas {
    display: flex;
    width:600px;
    height:600px;
    flex-wrap:wrap;
    background-color:pink;
  }

.color-div {
    flex:1;
    background-color: black;
    border: solid white 2px;
    align-items:baseline;
    
  }