.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: pink;
  align-items: stretch; 
  border: 1px solid rgb(136, 136, 136);
}

.row-div {
  display: flex;
  width: 100%;
  align-items: stretch; 
  flex-grow: 1; 
}

.color-div {
  background-color: white;
  border: 1px solid rgb(136, 136, 136);
  flex:1;
}

.toggle-button {
  background-color:rgb(25,25,25);
  color:white;
}